root = true

# Java source files (using hard tabs)
[*.java]
indent_style = tab
indent_size = 4
tab_width = 4

# Maven build files (using spaces)
[pom.xml]
indent_style = space
indent_size = 4

# Markdown documentation (using spaces)
[*.md]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false
